.dashboard {
    padding: 20px;
    background-color: #f0f4f8;  /* Light, neutral background color */
    min-height: 100vh;  /* Ensure the dashboard covers the full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.7;
        color: green;
    }
    70% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.7;
        color: green;
    }
}

.fetch-times {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fetch-times div {
    margin-bottom: 10px;
}

.fetch-times .animate-fetch {
    animation: pulse 0.5s ease-in-out;  /* Apply pulse animation */
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   /* Allows items to wrap to the next line */
    gap: 20px;         /* Space between items */
    
}
