.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App h1 {
  font-size: 2.5rem;  /* Large, prominent font size */
  color: #452ec7;  /* Soft blue color for the h1 */
  text-align: center;  /* Center the h1 */
  margin-bottom: 40px;  /* Space below the h1 */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);  /* Subtle shadow for depth */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
